@import "tailwindcss";

@font-face {
  font-family: 'Noto Sans';
  src: url('testimonial-card/fonts/NotoSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-app: linear-gradient(135deg, #F9FAFB 0%, #D2D6DB 100%);
  --primary: #171717;
  --secondary: #525252;
  --font-noto: "Noto Sans", sans-serif;

  --font-path: '/fonts';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gradient-app: linear-gradient(135deg, #F9FAFB 0%, #D2D6DB 100%);

  --font-noto: var(--font-noto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--gradient-app);
  color: var(--foreground);
  font-family: var(--font-noto), serif;
}
